# config/packages/security.yaml
security:
    # Gestion du hash des mots de passe
    password_hashers:
        App\Entity\User: 'auto'

    # Chargement des utilisateurs depuis la base
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: pseudo

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\UserAuthenticator
            logout:
                path: app_logout
                # redirect après logout
                # target: app_login

            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
                # always_remember_me: true # décommente pour toujours se souvenir de l'utilisateur

    access_control:
        # Pages publiques
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }

        # Pages réservées aux utilisateurs connectés
        - { path: ^/jeu, roles: ROLE_USER }

# Configuration spéciale pour les tests (optionnel)
when@test:
    security:
        password_hashers:
            App\Entity\User:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10